---
layout: base
---

    <!-- Big Intro "Hi, I'm Will Parker" -->
    <div class="jumbotron" style='background-color:#ffffff'>
      <div class="container" style='padding-bottom:0px;margin-bottom:0px;text-align:center'>
        <div class="col-lg-8">
          <h1>Hi, I'm Will Parker.</h1>
          <span class="keywordsJumbo">
            <div class="col-sm-4" style="text-align:center">
              <p><span style='color:#f0d2d1'>&#8608;</span> Engineer <span style='color:#f0d2d1'>&#8606;</span></p>
            </div>
            <div class="col-sm-4">
              <p><span style='color:#f0d2d1'>&#8608;</span> Artist <span style='color:#f0d2d1'>&#8606;</span></p>
            </div>
            <div class="col-sm-4">
              <p><span style='color:#f0d2d1'>&#8608;</span> Adventurer <span style='color:#f0d2d1'>&#8606;</span></p>
            </div>
            <div style="text-align:center;padding-top:70px;">
              <a class="btn btn-primary" href="#about" role="button">About Me</a>
            </div>
          </span>
        </div>
        <div class="col-lg-4">
          <img src="../assets/images/me_transparent.jpg" alt="me-image" class="img-responsive img-rounded">
        </div>
      </div>
    </div>
    <!-- End of Big Intro -->

    <!-- Projects Section 
          -A Grid of what I'm currently working on
          -Completed Projects Portfolio (In Sections) -->
    <div class="container-fluid" style="background-color:#011936;padding-top:0px" id="projects">
      <div class="row" style="padding-bottom:40px">
        <h2 style="color:white;text-align:center"> Projects </h2>
      </div>
      <div class="row" style="color:white;padding-top:0px;margin-top:0px">
        <div class="col-sm-6" style="background-color:#011936"> <!-- #66b3ba; -->
          <div class="col-sm-6">
            <h3>YoYo Go</h3>
            <p class="lead">An addicting mobile game with simple one-tap control. Now available on the <a href="https://itunes.apple.com/us/app/yoyo-go/id1449438685?ls=1&amp;mt=8" style="color:lightgray;text-decoration: underline">app store</a>.
            </p>
            <p>Developed in Swift for iOS</p>
          </div>
          <div class="col-sm-6">
            <div class="embed-responsive embed-responsive-4by3"> 
              <video muted autoplay loop width="320" height="240">
                <source src="{{ '/assets/images/Gameplay1.mp4' | relative_url }}" type="video/mp4" />
              </video>
            </div>
          </div>
          
        </div>
        <div class="col-sm-6" style="background-color:#011936;color:white;">
          <div class="col-sm-6">
            <h3>Fantasy Me</h3>
            <p class="lead">A goal tracking app that focuses on increasing the amount of time you spend doing what improves your life. </p>
            <p>Being Developed for the web with Python/Django</p>
          </div>
          <div class="col-sm-6">
            <img src="../assets/images/fantasy_me.jpeg" class="img-fluid" style="width: 100%">
          </div>
        </div>
      </div>
    </div>
    

    <!-- End of Projects Section -->

    <!-- About Section 
          -Who am I?
          -Array of things I do -->

    <div class="container-fluid" style="background-color:#ffffff" id="about">
      <div class="row">
        <div class="col-sm-12" style="text-align:center;padding-bottom:40px">
          <h1> About me</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <p class="lead">I am software developer at Integrity Security Services, an end-to-end embedded security provider specializing in Internet of Things devices. I graduated from Northeastern University with a Bachelor's in Computer Science and a minor in Theatre.
          </p>
          <p class="lead">
          I love exploring cities, writing music, rock climbing, surfing, skiing, spending too much time staring at code that doesn't work, spending way more time staring at cryptography puzzles that make no sense, singing the Moana soundtrack, drinking smoothies, eating breakfast sandwiches, and spending the rest of all that time hanging out with some awesome friends that I'm blessed to have.
          </p>
        </div>
        <div class="col-sm-6">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-4">
                <img src="../assets/images/me2.jpg" alt="me2-image" class="img-responsive" style="text-align:center;">
              </div>
              <div class="col-xs-4">
                <img src="../assets/images/me3.jpg" alt="me3-image" class="img-responsive" style="text-align:center;">
              </div>
              <div class="col-xs-4">
                <img src="../assets/images/me4.jpg" alt="me4-image" class="img-responsive" style="text-align:center;">
              </div>
            </div>
          </div>
          
        </div> 
      </div>
      </div>
    </div>

    <!-- End of About Section -->